body {
    background-color: white;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;

    font-family: '넥슨 풋볼고딕 B', '나눔고딕', serif;

}

h2{
    margin: 20px 0 20px 0;
    text-align: center;
}

table {
    margin: 0 auto;
    padding: 5px;

    text-align: center;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}

#whitepanel{
    z-index: 300;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    bottom: 0%;

    transition: bottom 500ms;
}

#status{
    margin: 10px auto;
    text-align: center;
}

#popup {
    z-index: 21;
    display: block;
    opacity: 0;

    position: fixed;
    width: 400px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px; padding: 20px;

    pointer-events: none;

    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 15px -5px black;

    transition: opacity 300ms;
}

#popup-back {
    z-index: 20;
    display: block; opacity: 0; position: fixed;
    width: 400px; left: 50%; transform: translate(-50%, 0);
    margin-top: 20px; padding: 20px;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(4px);
    transition: filter 300ms;
}

#controlPanel {
    height: 0px;
    overflow: hidden;
    text-align:center;
    margin: 10px;

    transition: height 300ms;
}

#controlPanel .controlElement {
    margin: 0 -3px;
    display: inline-block;
    border: rgb(240, 240, 240) solid 2px;
    line-height: 30px;
}

#controlPanel .controlElement:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#controlPanel .controlElement:nth-child(3){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#controlPanel .controlTitle {
    margin: 0;
}

#controlPanel .controlBtnSection{
    padding: 0;
    background-color: white;
    border-top: rgb(240, 240, 240) solid 2px;
}


#controlPanel .controlNum{
    display:inline-block;
    height: 30px; width: 30px;
    margin: 0; padding: 0;

    text-align: center;

    font-family: '넥슨 풋볼고딕 L', '나눔스퀘어라운드', serif;
}

#controlPanel .controlBtn {
    display: inline-block;
    height: 30px; width: 30px;
    
    cursor: pointer;

    margin: 0; padding: 0;
    background-color:rgb(240, 240, 240);
    font-family: '나눔스퀘어라운드', serif;

    transition: background-color 100ms;
}
@media (hover: hover) {
#controlPanel .controlBtn:hover {
    background-color: rgb(230, 230, 230);
    transition: background-color 100ms;
}
}

#controlPanel .controlBtn:active {
    background-color: rgb(210, 210, 210);
    transition: background-color 100ms;
}

#settingBtn {
    cursor: pointer;
    transition: transform 300ms;
}

@media (hover: hover) {
#settingBtn:hover{
    transform: rotate(0.5turn);
    transition: transform 300ms;
}
}

#recordBtn {
    cursor: pointer;
}

@media (hover: hover) {
#recordBtn:hover{
    animation: shake 300ms linear;
}
}

@-webkit-keyframes shake {
    0%, 100%{ transform: rotate(0); }
    25%, 75% { transform: rotate(-15deg); }
    50% { transform: rotate(+15deg); }
}

@-moz-keyframes shake {
    0%, 100%{ transform: rotate(0); }
    25%, 75% { transform: rotate(-15deg); }
    50% { transform: rotate(+15deg); }
}

@-o-keyframes shake {
    0%, 100%{ transform: rotate(0); }
    25%, 75% { transform: rotate(-15deg); }
    50% { transform: rotate(+15deg); }
}

@keyframes shake {
    0%, 100%{ transform: rotate(0); }
    25%, 75% { transform: rotate(-15deg); }
    50% { transform: rotate(+15deg); }
}

#recordPanel {
    z-index: 15;
    position: fixed;
    top: -70%;
    left: 50%;
    transform: translate(-70%, 0);
    padding: 10px 50px;
    width: 200px; height: 330px;
    box-shadow: 0 0 15px -5px black;
    border-radius: 15px;
    background-color: white;

    transition: top 400ms;
}

#recordPanel ul {
    margin: 0; padding: 0;
}

#recordPanel ul li{
    list-style: none;
}

#recordPanelBackground{
    z-index: 14;
    position: fixed;
    display: none;

    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    height:100%; width: 100%;
    top: 0; left: 0;

    transition: display backdrop-filter 300ms;
}

#closeRecord{
    margin-top: 15px;
    height: 40px;
    line-height: 40px;
    border-radius: 7px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

@media (hover: hover) {
#closeRecord:hover{
    background-color: rgb(230, 230, 230);
}
}

.refreshBtn {
    cursor: pointer;
    margin: 10px auto;
    height: 30px;  width: 310px;
    line-height: 30px;
    display: block;
    text-align: center;
    background-color: rgb(240, 240, 240);
    
    border: rgb(240, 240, 240) solid 2px;
    
    border-radius: 15px;
    transition: background-color 200ms;
}

@media (hover: hover) {
.refreshBtn:hover{
    background-color: rgb(230, 230, 230);
    transition: background-color 200ms;
}
}

.refreshBtn:active{
    background-color: rgb(210, 210, 210);
    transition: background-color 200ms;
}

table td {
    width: 30px;
    height: 30px;
    line-height: 0px;
    font-family: '넥슨 풋볼고딕 L', '나눔스퀘어라운드', serif;

    cursor: pointer;
    background-color: lightgrey;
    border-radius: 5px;
}

@media (hover: hover) {
table td:hover{
    background-color: rgb(200, 200, 200);
    transition: background-color 100ms;
}
}

.open {
    cursor: default;
    background-color: white;
    transition: background-color ease-out 200ms;
}

@media (hover: hover) {
.open:hover {
    background-color: rgb(245, 245, 245);
}
}

.flag {
    cursor: default;
    background-color: rgb(150, 150, 150);
}

@media (hover: hover) {
.flag:hover{
    background-color: rgb(180, 180, 180);
}
}

.flag img{  
    height: 20px;
    width: 20px;
}

.mineopen {
    cursor: default;
    background-color: rgb(233, 100, 100);
}

@media (hover: hover) {
.mineopen:hover {
    background-color: rgb(233, 100, 100);
}
}

.mineopen img {
    height: 20px;
    width: 20px;
}

.debugMine {
    border: solid red 1px;
}

.last {
    background-color: rgb(200, 200, 0);
    animation: breathing 1000ms linear;
    animation-iteration-count: infinite;

}

@media (hover: hover) {
.last:hover {
    background-color: rgb(200, 200, 0);
}
}

@-webkit-keyframes breathing {
    0%, 100%{ background-color: rgb(220, 220, 0); }
    50% { background-color: rgb(200, 200, 0); }
}

@-moz-keyframes breathing {
    0%, 100%{ background-color: rgb(220, 220, 0); }
    50% { background-color: rgb(200, 200, 0); }
}

@-o-keyframes breathing {
    0%, 100%{ background-color: rgb(220, 220, 0); }
    50% { background-color: rgb(200, 200, 0); }
}

@keyframes breathing {
    0%, 100%{ background-color: rgb(220, 220, 0); }
    50% { background-color: rgb(200, 200, 0); }
}